aiohttp==3.8.5
aiosignal==1.3.1
anyio==3.7.1
async-timeout==4.0.2
attrs==23.1.0
Babel==2.12.1
certifi==2023.7.22
charset-normalizer==3.2.0
frozenlist==1.4.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
multidict==6.0.4
pyTelegramBotAPI==4.12.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pywin32==306
redis==4.6.0
requests==2.31.0
six==1.16.0
sniffio==1.3.0
urllib3==2.0.4
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==0.56.0
yarl==1.9.2